* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #eee;
}

ol, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    cursor: pointer;
    border: 0;
}

button:focus {
    outline: none;
}

#main {
    display: flex;
    flex: 1;
    flex-direction: column;
}

#main > article {
    flex: 1;
}

header, footer {
    height: 11vh;
}

header, footer, article {
    padding: 1em;
}

header {
    background: #ffa409;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#header-title {
    padding-top: 7px;
    color: #fff;
    font-size: 17px;
}

#header-steps {
    padding-top: 13px;
    font-size: 17px;
    color: #ffa409;
    font-weight: bold;
}

#header-steps hr {
    width: 70px;
    border-top: 1px solid #fff;
    border-bottom: 0;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: -22px;
}

header li {
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
    width: 35px;
}

header li span {
    background-color: #fff;
    display: inline-block;
    width: 25px;
    border-radius: 70px;
    text-align: center;
}

@media screen and (min-width: 576px) {
    #main {
        flex-direction: row;
    }
}

#step-title h3 {
    position: relative;
    margin-bottom: 20px;
    font-size: 17px;
    color: #000;
    line-height: 1.3em;
    padding-left: 33px;
}

#contents {
    margin-bottom: 30px;
}

.btn {
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 1px;
    box-sizing: border-box;
    color: #000;
}

#btn-steps {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.footer-btn {
    background: 0 0;
    border: none;
    font-size: 17px;
    font-weight: bold;
}

.traffic-length {
    font-size: 11px;
    margin-top: 0;
}